
    <title>ImageAdd</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
    <link href="~/Content/css/imageUpload.css" rel="stylesheet" />

    <section>
        @using (Html.BeginForm("ImageAdd",
                        "Image",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
        {
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Upload File</label>
                            <div class="preview-zone hidden">
                                <div class="box box-solid">
                                    <div class="box-header with-border">
                                        <div><b>Preview</b></div>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-danger btn-xs remove-preview">
                                                <i class="fa fa-times"></i> Reset The Field
                                            </button>
                                        </div>
                                    </div>
                                    <div class="box-body"></div>
                                </div>
                            </div>
                            <div class="dropzone-wrapper">
                                <div class="dropzone-desc">
                                    <i class="glyphicon glyphicon-download-alt"></i>
                                    <p>Choose an image file or drag it here.</p>
                                </div>
                                <input type="file" name="file" class="dropzone" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-sm-10">
                            <input type="text" name="keyword" class="form-control" placeholder="please image keword" />
                        </div>
                        <div class="col-sm-2">
                            <input type="submit" class="btn btn-primary pull-right" value="Upload Image">
                        </div>
                    </div>
                </div>
            </div>
        }
    </section>


    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
    <script >

        $(document).ready(function () {
            var message = "@ViewBag.message";
            if (message != "") {
                alert(message);
            }
        });

        function readFile(input) {

          if (input.files && input.files[0]) {
                var reader = new FileReader();
 
                reader.onload = function(e) {
                  var htmlPreview =
                    '<img width="200" src="' + e.target.result + '" />' +
                    '<p>' + input.files[0].name + '</p>';
                  var wrapperZone = $(input).parent();
                  var previewZone = $(input).parent().parent().find('.preview-zone');
                  var boxZone = $(input).parent().parent().find('.preview-zone').find('.box').find('.box-body');

                  wrapperZone.removeClass('dragover');
                  previewZone.removeClass('hidden');
                  boxZone.empty();
                  boxZone.append(htmlPreview);
                };
  
                  reader.readAsDataURL(input.files[0]);
              }
            }

            function reset(e) {
              e.wrap('<form>').closest('form').get(0).reset();
              e.unwrap();
            }
 
            $(".dropzone").change(function() {
              readFile(this);
            });
 
            $('.dropzone-wrapper').on('dragover', function(e) {
              e.preventDefault();
              e.stopPropagation();
              $(this).addClass('dragover');
            });
 
            $('.dropzone-wrapper').on('dragleave', function(e) {
              e.preventDefault();
              e.stopPropagation();
              $(this).removeClass('dragover');
            });
 
            $('.remove-preview').on('click', function() {
              var boxZone = $(this).parents('.preview-zone').find('.box-body');
              var previewZone = $(this).parents('.preview-zone');
              var dropzone = $(this).parents('.form-group').find('.dropzone');
              boxZone.empty();
              previewZone.addClass('hidden');
              reset(dropzone);
            });

    </script>

