@using WCMS.Web;
@using WCMS.Web;
@{
    ViewBag.Title = "ImageUpload";
}

<div id="content">
    <section id="widget-grid">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-darken" data-widget-sortable="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
                    <header role="heading">
                        <h2> @ViewBag.Title </h2>
                        <div class="widget-toolbar font-xs" role="menu">
                            @ViewBag.Title
                        </div>
                    </header>

                    <img src="~/Content/img/violate.jpg" alt="" class="img-thumbnail" width="20%">
                    <img src="~/Content/img/violate.jpg" alt="" class="img-thumbnail" width="20%">

                    <div class="table-responsive">
                        <table class="table table-bordered" style="margin-left:0px">
                            <thead>
                                <tr role="row" class="active">
                                    <th class="active" width="15%">항목</th>
                                    <th class="active" colspan="6">상세 값</th>
                                </tr>
                            </thead>
                            <tbody class="table table-hover">
                                <tr>
                                    <td class="active">No</td>
                                    <td colspan="6">등록 순으로 자동입력 -> 콘텐츠ID (복수 등록시, 사진 순서대로 넘버링)</td>
                                </tr>
                                <tr>
                                    <td class="active">스팟명(한글)</td>
                                    <td colspan="6"></td>
                                </tr>
                                <tr>
                                    <td class="active">원어명(영어)</td>
                                    <td colspan="6"></td>
                                </tr>
                                <tr class="active">
                                    <td class="active">저작권</td>
                                    <td class="active">
                                        출처 : &nbsp;
                                        <div data-example-id="static-dropdown">
                                            <select id="selSource" class="form-control custom-scroll">
                                                <option>관광청</option>
                                                <option>작가</option>
                                                <option>직원</option>
                                                <option>랜드사</option>
                                                <option>제휴사</option>
                                                <option>기타</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td class="active">
                                        상세명 : &nbsp;
                                        <div data-example-id="static-dropdown">
                                            <select id="selDetail" class="form-control custom-scroll">
                                                <option>관광청 이름</option>
                                                <option>작가 이름</option>
                                                <option>직원 이름</option>
                                                <option>랜드사 이름</option>
                                                <option>제휴사 이름</option>
                                                <option>정확히 표기</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td class="active" colspan="4">
                                        유효기간 : &nbsp;
                                        <div class="input-group">
                                            <input class="form-control" placeholder="" id="txtExpiryDate" type="text" readonly="readonly" value="@DateTime.Now.ToIdDateType()">
                                            <span class="input-group-addon" onclick="$('#txtExpiryDate').focus();">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="active">
                                    <td>
                                        * 지역
                                    </td>
                                    <td class="active">
                                        대륙 : &nbsp;
                                        <div data-example-id="static-dropdown">
                                            <select id="selContinent" class="form-control custom-scroll">
                                                <option>아시아</option>
                                                <option>동남아</option>
                                                <option>대양주</option>
                                                <option>미주</option>
                                                <option>중남미</option>
                                                <option>유럽</option>
                                                <option>중동</option>
                                                <option>아프리카</option>
                                                <option>기타</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td class="active">
                                        지역 : &nbsp;
                                        <div data-example-id="static-dropdown">
                                            <select id="selArea" class="form-control custom-scroll">
                                                <option>서유럽</option>
                                                <option>동유럽</option>
                                                <option>북유럽</option>
                                                <option>지중해</option>
                                                <option>발칸</option>
                                                <option>기타</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td class="active">
                                        국가 : &nbsp;
                                        <div data-example-id="static-dropdown">
                                            <select id="selNation" class="form-control custom-scroll">
                                                <option>영국</option>
                                                <option>프랑스</option>
                                                <option>이태리</option>
                                                <option>스위스</option>
                                                <option>스페인</option>
                                                <option>네덜란드</option>
                                                <option>벨기에</option>
                                                <option>기타</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td class="active">
                                        세부지역 : &nbsp;
                                        <div data-example-id="static-dropdown">
                                            <select id="selDetailsArea" class="form-control custom-scroll">
                                                <option>기타</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td class="active" colspan="2">
                                        도시 : &nbsp;
                                        <div data-example-id="static-dropdown">
                                            <select id="selCity" class="form-control custom-scroll">
                                                <option>런던</option>
                                                <option>옥스포드</option>
                                                <option>윈저</option>
                                                <option>코츠월드</option>
                                                <option>기타</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="active">
                                    <td>
                                        * 카테고리
                                        (중복 선택 가능)
                                    </td>
                                    <td colspan="5">
                                        <div class="checkbox" style="word-spacing:30px;">
                                            <label>
                                                <input id="chk_Attraction" type="checkbox" checked> 명소
                                            </label>
                                            <label>
                                                <input id="chkLodging" type="checkbox"> 숙소
                                            </label>
                                            <label>
                                                <input id="chkFamousRestaurant" type="checkbox"> 맛집
                                            </label>
                                            <label>
                                                <input id="chkTraffic" type="checkbox"> 교통/패스
                                            </label>
                                            <label>
                                                <input id="chkShopping" type="checkbox"> 쇼핑
                                            </label>
                                            <label>
                                                <input id="chkOthersCategory" type="checkbox"> 기타
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="active">
                                    <td>
                                        * 사진 구분
                                        (중복 선택 가능)
                                    </td>
                                    <td colspan="5">
                                        <div class="checkbox" style="word-spacing:30px;">
                                            <label class="checkbox-inline">
                                                <input id="chkPerson" type="checkbox"> 인물
                                            </label>
                                            <label class="checkbox-inline">
                                                <input id="chkView" type="checkbox"> 풍경
                                            </label>
                                            <label class="checkbox-inline">
                                                <input id="chkOthers" type="checkbox" checked> 건물
                                            </label>
                                            <label class="checkbox-inline">
                                                <input id="chkPlace" type="checkbox"> 장소
                                            </label>
                                            <label class="checkbox-inline">
                                                <input id="chkOthersPicture" type="checkbox"> 기타
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="active">
                                    <td>
                                        *
                                    </td>
                                    <td colspan="5">
                                        <div class="radio" style="word-spacing:30px;">
                                            <label class="radio-inline">
                                                <input id="rboSpring" name="rblSeason" type="radio" value="spring"> 봄
                                            </label>
                                            <label class="radio-inline">
                                                <input id="rboSummer" name="rblSeason" type="radio" value="summer"> 여름
                                            </label>
                                            <label class="radio-inline">
                                                <input id="rboAutumn" name="rblSeason" type="radio" value="autumn" checked> 가을
                                            </label>
                                            <label class="radio-inline">
                                                <input id="rboWinter" name="rblSeason" type="radio" value="winter"> 겨울
                                            </label>
                                            <label class="radio-inline">
                                                <input id="rboOthersSeason" name="rblSeason" type="radio" value="otherSeason"> 기타
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="active">
                                    <td>
                                        * 시간
                                    </td>
                                    <td colspan="5">
                                        <div class="radio" style="word-spacing:30px;">
                                            <label class="radio-inline">
                                                <input id="rboDawn" name="rblTime" type="radio" value="dawn"> 새벽
                                            </label>
                                            <label class="radio-inline">
                                                <input id="rboDay" name="rblTime" type="radio" value="day"> 낮
                                            </label>
                                            <label class="radio-inline">
                                                <input id="rboNightView" name="rblTime" type="radio" value="nightView" checked> 야경
                                            </label>
                                            <label class="radio-inline">
                                                <input id="rboOthersTime" name="rblTime" type="radio" value="otherTime"> 기타
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="active">
                                    <td>
                                        촬영일
                                    </td>
                                    <td colspan="5">
                                    </td>
                                </tr>
                                <tr class="active">
                                    <td>
                                        * 사이즈
                                    </td>
                                    <td colspan="5"></td>
                                </tr>
                                <tr class="active">
                                    <td>
                                        * 퀄리티
                                    </td>
                                    <td colspan="5">
                                    </td>
                                </tr>
                                <tr class="active">
                                    <td>
                                        * Tag
                                    </td>
                                    <td colspan="5"></td>
                                </tr>
                                <tr class="active">
                                    <td>
                                        등록정보
                                    </td>
                                    <td colspan="5"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

<style>
    .ui-autocomplete {
        z-index: 9999 !important;
        max-height: 300px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
    }
</style>

<script type="text/javascript">
    $('#txtExpiryDate').datepicker({
        dateFormat: 'dd-mm-yy',
        prevText: '<i class="fa fa-chevron-left"></i>',
        nextText: '<i class="fa fa-chevron-right"></i>',
    });
</script>