
@{
    ViewBag.Title = "ImageDetail";
}


<div id="content">
    <section id="widget-grid">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-darken" data-widget-sortable="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
                    <header role="heading">
                        <h2> @ViewBag.Title </h2>
                        <div class="widget-toolbar font-xs" role="menu">
                            @ViewBag.Title
                        </div>
                    </header>


                    <img src="~/Content/img/violate.jpg" alt="" class="img-thumbnail" width="10%">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-horizontal">
                                        <fieldset>
                                            <div class="form-group">
                                                <label class="col-md-12 control-label text-left"><strong> </strong></label>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </article>
        </div>
    </section>
</div>

