@using WCMS.Web;
@using WCMS.Data;

@model List<WCMS.Data.MemberData>

<link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.min.js"></script>


<div id="content" class="container">
    <br />

    <div class="row">
        <div class="col-md-12">
            <table class="table table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="col-md-2">Menu</th>
                        <th scope="col" class="col-md-5" colspan="2">Value </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" class="table-dark"> No. </th>
                        <td class="table-light" colspan="2"> Automatically increase by 1 upon registration </td>
                    </tr>
                    <tr>
                        <th scope="row" class="table-dark"> Title </th>
                        <td class="table-light" colspan="2">
                            <input type="text" id="txt_popupTitle" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="table-dark"> Expiration Date </th>
                        <td class="table-light">
                            StartDate :
                            <input type="text" id="txt_startDate" class="form-control" />
                        </td>
                        <td class="table-light">
                            EndDate :
                            <input type="text" id="txt_endDate" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="table-dark"> Join Member </th>
                        <td class="table-light" colspan="2">
                            <select id="sel_multiMember" multiple="multiple">
                                @foreach (var member in Model)
                                                    {
                                    <option value="@member.memberNo">@member.memberName</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="table-dark"> Popup Type </th>
                        <td class="table-light" colspan="2">
                            <div class="radio" style="word-spacing:30px;">
                                <label class="radio-inline">
                                    <input id="rbo_default" name="rbl_popupType" type="radio" value="D" checked> DefaultPopup
                                </label>
                                <label class="radio-inline">
                                    <input id="rbo_layer" name="rbl_popupType" type="radio" value="L"> LayerPopup
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="table-dark"> Descript </th>
                        <td class="table-light" colspan="2">
                            <input type="text" id="txt_descript" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="table-dark"> Html </th>
                        <td class="table-light" colspan="2">
                            <textarea class="form-control rounded-0" id="tarea_popupHtml" rows="10" placeholder="<html></html>"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="table-dark"> Script </th>
                        <td class="table-light" colspan="2">
                            <textarea class="form-control rounded-0" id="tarea_popupScript" rows="10" placeholder="<script></script>"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="table-dark" rowspan="2"> fileUpload </th>
                        <td class="table-light">
                            <form enctype="multipart/form-data" method="post" name="form_file">
                                <input type="file" id="fileInfo" class="file-upload" />
                            </form>
                        </td>
                        <td class="table-light">
                            <input type="button" class="btn btn-primary pull-right" value="Upload" onclick="javascript:UploadImage();">
                        </td>
                    </tr>
                    <tr>
                        <td class="table-light" colspan="2">
                            <ul class="list-group" id="ul_filePaths">
                                @foreach (string imageLink in ViewBag.ImageLinks)
                                {
                                    <li class='list-group-item'>@imageLink </li>
                                }
                                </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-12">
                    <input type="button" class="btn btn-primary pull-right" value="Poup Add" onclick="javascript: PopupAdd();">
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .ui-autocomplete {
        z-index: 9999 !important;
        max-height: 300px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
    }
</style>

<script type="text/javascript">
     $(document).ready(function() {
          $('#sel_multiMember').multiselect({
            buttonWidth : '900px',
            includeSelectAllOption : true,
		        nonSelectedText: 'Select an Option'
          });
        });

    $('#txt_endDate').datepicker({
        dateFormat: 'yy-mm-dd',
        prevText: '<i class="fa fa-chevron-left"></i>',
        nextText: '<i class="fa fa-chevron-right"></i>'
    });

    $('#txt_startDate').datepicker({
        dateFormat: 'yy-mm-dd',
        prevText: '<i class="fa fa-chevron-left"></i>',
        nextText: '<i class="fa fa-chevron-right"></i>',
    });

    //이미지 파일 서버 업로드 
    function UploadImage() {
        var form = $('#form_file')[0];
        var formData = new FormData(form);
        formData.append("fileInfo", $("#fileInfo")[0].files[0]);

        GetImageAddPath(formData);
    }

    //이미지 파일 서버 업로드 프로세스 
    function GetImageAddPath(formData) {
        $.ajax({
            url: '@Url.Action("GetImageAddPath", "Image")',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            dataType:"json",
            success: function (data) {
                if (data.Status == "S")
                    $("#ul_filePaths").append("<li class='list-group-item'>" + data.Message + "</li>");
                else
                    alert(data.Message);
            },
            error : function(xhr, status) {
                alert(xhr + " : " + status);
            }
        });
    }

    // 팝업 저장 유효성 검사 
    function VaildationPopupParam() {
        if ($('#txt_popupTitle').val() == '') {
            alert("Please enter Title");
            $('#txt_popupTitle').focus();
            return true;
        }

        if ($('#txt_startDate').val() == '' || $('#txt_endDate').val() == '') {
            alert("Please enter Expiration Date.");
            $('#txt_startDate').focus();
            return true;
        }

        if ($('#sel_multiMember').val() == null) {
            alert("Please select JoinMember");
            $('#sel_multiMember').focus();
            return true;
        }

        if ($('#tarea_popupHtml').val() == '') {
            alert("Please enter Html");
            $('#tarea_popupHtml').focus();
            return true;
        }
    }

    // 팝업 저장 파라메터 설정
    function MakePopupParam() {

        var joinMembers = $('#sel_multiMember').val();
        var joinMember = '';

        if (joinMembers != null) {
            for (var i = 0; i < joinMembers.length; i++)
            {
                joinMember += ('|'+joinMembers[i]);
            }
            joinMember = joinMember.substr(1, joinMember.length);
        }

        var data = {
            title: $('#txt_popupTitle').val()
            , startDate: $('#txt_startDate').val()
            , endDate: $('#txt_endDate').val()
            , joinMember: joinMember
            , popupType:$("input[name='rbl_popupType']:checked").val()
            , descript: $('#txt_descript').val()
            , popupHtml: encodeURIComponent($('#tarea_popupHtml').val())
            , popupScript: encodeURIComponent($('#tarea_popupScript').val())
        }

        return data;
    }

    //팝업 저장 프로세스 
    function PopupAdd() {
        // 유효성 검사 
        if (VaildationPopupParam()) return;
        
        $.ajax({
            url: '/Popup/PopUpAddProc',
            type: 'POST',
            data: {
                jsonData : JSON.stringify(MakePopupParam())
            },
            dataType:"json",
            success: function (result) {
                if (result.data > 0) {
                    alert('Popup data added complete');
                    location.reload();
                }
                else alert('Popup data added fail.');
            },
            error : function(xhr, status) {
                alert(xhr + " : " + status);
            }
        });
        
    }

</script>