
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, minimum-scale=0.1">
    <title>test.jpg (3264×2448)</title>
</head>
<body style="margin: 0px;">
    <img style="user-select: none; cursor: zoom-in;" src="file://180.70.96.58/tour/test.jpg" width="1233" height="924">
</body>
</html>

<script>

    alert(encodeURIComponent("테스트"));
</script>
