@using System.Xml.XPath;
    <!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<aside id="left-panel">

    @{ Html.RenderPartial("_CurrentUser"); }
    <nav>
        <ul>
            <li>
                <a href="@Url.Action("ImageUpload", "Image")" title="ImageUpload"><i class=""></i> <span class="menu-item-parent">ImageUpload</span></a>
                <a href="@Url.Action("ImageSerach", "Image")" title="ImageSerach"><i class=""></i> <span class="menu-item-parent">ImageSerach</span></a>
                <a href="@Url.Action("CategoryAdd", "Image")" title="ImageSerach"><i class=""></i> <span class="menu-item-parent">PopupAdd</span></a>
                <a href="@Url.Action("CategoryAdd", "Image")" title="ImageSerach"><i class=""></i> <span class="menu-item-parent">PopupSearch</span></a>
            </li>
        </ul>
    </nav>
</aside>
<!-- END NAVIGATION -->