@using System.Xml.XPath;
    <!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<aside id="left-panel">

    @{ Html.RenderPartial("_CurrentUser"); }
    <nav>
        <ul>
            <li>
                <a href="@Url.Action("PopUpAdd", "Popup")" title="PopUpAdd"><i class=""></i> <span class="menu-item-parent">PopUpAdd</span></a>
                <a href="@Url.Action("ImageSerachList", "Image")" title="ImageSerachList"><i class=""></i> <span class="menu-item-parent">ImageSerachList</span></a>
                <a href="@Url.Action("ImageAdd", "Image")" title="ImageAdd"><i class=""></i> <span class="menu-item-parent">ImageAdd</span></a>\
                <a href="@Url.Action("PopUpList", "Popup")" title="ImageSerach"><i class=""></i> <span class="menu-item-parent">ImageAdd</span></a>
            </li>
        </ul>
    </nav>
</aside>
<!-- END NAVIGATION -->