<!-- RIBBON -->
<div id="ribbon">

    <!-- breadcrumb -->
    <ol class="breadcrumb">
        <li>@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()</li>
        <li>@ViewContext.Controller.ValueProvider.GetValue("action").RawValue</li>
    </ol>


</div>
<!-- END RIBBON -->